[user]
	name = Wyatt Ubellacker
	email = wubellacker@gmail.com
[diff]
  tool = vimdiff
[difftool]
  prompt = false
  trustExitCode = true
[alias]
  d = difftool
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	excludesfile = /home/wubella/.gitignore_global
